<div class="product-box">
  <div class="container">
    <!--===== 广告图 =====-->
    <section class="intro-box">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag("products_index_intro.jpg") %><!-- 图片位置 -->
        </div>
      </div>
    </section>

    <!--===== 商品类型 & 品牌选单 =====-->
    <section class="menu-box">
      <!-- 主要类型 -->
      <div class="row">
        <div class="dropdown btn-group clearfix">
          <!-- 选单按钮 -->
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          类型一 <i class="fa fa-angle-down"></i>
          </button>
          <!-- 选单内容：分类 -->
          <ul class="dropdown-menu">
            <li><a href="#">分类</a></li>
            <li><a href="#">分类</a></li>
            <li><a href="#">分类</a></li>
          </ul>
        </div>
        <!-- 主要类型 -->
        <div class="dropdown btn-group clearfix">
          <!-- 选单按钮 -->
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          类型二 <i class="fa fa-angle-down"></i>
          </button>
          <!-- 选单内容：分类 -->
          <ul class="dropdown-menu">
            <li><a href="#">分类</a></li>
            <li><a href="#">分类</a></li>
            <li><a href="#">分类</a></li>
          </ul>
        </div>
        <!-- 主要类型 -->
        <div class="dropdown btn-group clearfix">
          <!-- 选单按钮 -->
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          类型三 <i class="fa fa-angle-down"></i>
          </button>
          <!-- 选单内容：分类 -->
          <ul class="dropdown-menu">
            <li><a href="#">分类</a></li>
            <li><a href="#">分类</a></li>
            <li><a href="#">分类</a></li>
          </ul>
        </div>
        <!-- 品牌 -->
        <div class="dropdown btn-group clearfix">
          <!-- 选单按钮 -->
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          品牌<i class="fa fa-angle-down"></i>
          </button>
          <!-- 选单内容：品牌 -->
          <ul class="dropdown-menu">
            <li><a href="#">品牌</a></li>
            <li><a href="#">品牌</a></li>
            <li><a href="#">品牌</a></li>
          </ul>
        </div>
      </div>
    </section>

    <hr/>

    <!--===== 页面路径 & 排序 =====-->
    <section class="path-sort-box">
      <!--=== 产品页面路径 ===-->
      <div class="left-box">
        <a href="#">JDStore</a>
      </div>
      <!--=== 选单按钮 ===-->
      <div class="right-box">
        <div class="dropdown btn-group clearfix">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            預設排序 <span class="caret"></span>
          </button>
          <!-- 选单内容：排序方式 -->
          <ul class="dropdown-menu dropdown-menu-right" selection aria-labelledby="dropdownMenuDivider">
            <li><a href="#">依热销度</a></li>
            <li><a href="#">依上架时间</a></li>
            <li><a href="#">依价格排序：低至高</a></li>
            <li><a href="#">依价格排序：高至低</a></li>
          </ul>
        </div>
      </div>
    </section>

    <hr/>

    <!--===== 商品列表 =====-->
    <section class="product-items-box">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %> <!-- 商品连结 -->
            <div class="box"><%= image_tag("item_1.jpg") %></div> <!-- 商品图片 -->
            <div class="product-info">
              <p>两手锅</p> <!-- 商品名称 -->
              <p>$550</p> <!-- 商品价格 -->
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_2.jpg") %></div>
            <div class="product-info">
              <p>平底锅</p>
              <p>$750</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_3.jpg") %></div>
            <div class="product-info">
              <p>铁制茶壶</p>
              <p>$450</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_4.jpg") %></div>
            <div class="product-info">
              <p>茶壶</p>
              <p>$250</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_5.jpg") %></div>
            <div class="product-info">
              <p>八角点心盘</p>
              <p>$150</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_6.jpg") %></div>
            <div class="product-info">
              <p>点心盘</p>
              <p>$80</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_7.jpg") %></div>
            <div class="product-info">
              <p>木盘</p>
              <p>$125</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_8.jpg") %></div>
            <div class="product-info">
              <p>酱料碟</p>
              <p>$20</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_9.jpg") %></div>
            <div class="product-info">
              <p>酱料碟</p>
              <p>$50</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_10.jpg") %></div>
            <div class="product-info">
              <p>马克杯</p>
              <p>$80</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_11.jpg") %></div>
            <div class="product-info">
              <p>陶锅</p>
              <p>$650</p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= link_to '#' do %>
            <div class="box"><%= image_tag("item_12.jpg") %></div>
            <div class="product-info">
              <p>8号锅</p>
              <p>$500</p>
            </div>
          <% end %>
        </div>
    </section>
  </div>
</div>
